[2016-07-25 07:41] Khaledgarbaya opened #2 "the tests are not running in the ci"
Looking at the travis.yml the the test script is missing

[2016-07-25 07:43] #2 closed

[2016-07-27 08:01] eisenbergrobin opened #3 "Package does not work as a library"
Steps to reproduce the problem:

- ```npm init``` a project on node 4.3.2
- `npm i --save-dev contentful-export`
[code]

Then run the following code:

[code]

Throws the following error:

[code]

Using the same SPACE_ID and MANAGEMENT_TOKEN in the CLI works correctly.

My use case is I'd like to create automatic backup AWS Lambdas to backup my Contentful spaces, and the CLI tool is not an option i

[2016-07-27 08:07] Khaledgarbaya commented on #3
hi @eisenbergrobin
let me take a look and get back to you asap

[2016-07-27 08:07] Khaledgarbaya commented on #3
sorry I closed the issue by mistake

[2016-07-27 09:04] #3 closed

[2016-07-27 09:05] Khaledgarbaya commented on #3
yeah it was a bug Sorry about that I just fixed it and should be working in the next version which will be released as soon as the ci build finishes

[2016-07-27 09:13] Khaledgarbaya commented on #3
hey @eisenbergrobin
the fix should be in **v1.0.5**

[2016-07-27 09:59] eisenbergrobin commented on #3
@Khaledgarbaya

I can confirm this is fixed. Thanks for the quick fix :)

[2016-07-27 11:50] Khaledgarbaya commented on #3
![](https://media.giphy.com/media/CHSC7ASSCZWEM/giphy.gif)

[2016-07-29 12:03] eisenbergrobin opened #4 "Any plans for an import tool?"
This tool allow me to export Contentful spaces and keep backups available.

Do you have any plans to make the same tool in reverse, to handle importing of a Space from a JSON dump generated using `contentful-export`?

[2016-07-29 12:13] Khaledgarbaya commented on #4
Hi @eisenbergrobin,

Yes We are working on a `contentful-export` and it should be out soon.

Best,
Khaled

[2016-07-29 12:13] #4 closed

[2016-07-29 12:20] eisenbergrobin commented on #4
:+1: Great, looking forward to it.

Thanks

[2016-09-01 14:00] floelhoeffel opened #5 "Add overview what is exported (e.g. roles, webhooks etc..)"

[2016-09-20 08:53] marspu1 opened #6 "NPM Install Error"
I run from OSX terminal

sudo npm install –g contentful-export

and get

npm ERR! fetch failed https://registry.npmjs.org/contentful-export/-/contentful-export-1.0.6.tgz

npm WARN retry will retry, error on last attempt: Error: fetch failed with status code 504

[2016-09-20 08:59] Khaledgarbaya commented on #6
Hi @marspu1,
Can you provide your npm version  ?
Does your network setup have a proxy ?

[2016-09-20 09:17] Khaledgarbaya commented on #6
I just tested it and I can confirm that I am getting the same error. That's completely weird.
Can you for now clone the project and do `npm install` and then `npm run build` .
After that you can run `./bin/contentful-export --config myconfig.json`

[2016-09-20 09:34] marspu1 commented on #6
Ah – I installed NPM yesterday. NPM is 2.15.9 – I’ve upgraded to 30.10.7 the install does a dependency check (which it didn’t before and then craps out with the same error. No proxy.

Downloads markspurgen$ sudo npm install -g contentful-export
⸨    ░░░░░░░░░░░░░░⸩ ⠴ loadRequestedDeps: sill install loadAllDepsIntoIdealTree
npm ERR! fetch failed https://registry.npmjs.org/contentful-export/-/conten

[2016-09-23 06:38] marspu1 commented on #6
Hi Khaled – I got the JSON extract working thanks. We use the CMS to manage articles with tags. We want to be able to extract a list of the articles and their related fields into a spreadsheet so we can do some analysis  for instance, how many articles are tagged as X which is why I used your code. Unfortunately the JSON output is big and unwieldly. Can I be specific about the Contentful Type or d

[2016-09-23 08:56] Khaledgarbaya commented on #6
Hi @marspu1 ,
the Export tool is intended to get every thing from Contentful using the [sync](https://www.contentful.com/developers/docs/concepts/sync/) api under the hood.
You can achieve easily what you need through our [contentful.js](https://github.com/contentful/contentful.js) and specifying the data that you need as a query.
Here is an example on how to do this.
[code]

This way you will get

[2016-09-23 09:29] marspu1 commented on #6
Brilliant – I’ll give it a go!

Mark Spurgen
Co-Founder, Technology & Delivery Director
E: ms@thelifehouse.co<mailto:ms@thelifehouse.co>
M: +44[0] 7796 266533

PRE-REGISTER NOW at: www.thelifehouse.Co

Twitter<https://twitter.com/TheLifehouseCo> |  Facebook<https://www.facebook.com/TheLifehouseCompany> | LinkedIn<https://www.linkedin.com/company/the-lifehouse?trk=company_logo>

The information in

[2016-09-23 09:40] Khaledgarbaya commented on #6
Hi @marspu1 ,
I will close this issue for now, feel free to create a new one when you have questions

Best,
Khaled

[2016-09-23 09:40] #6 closed

[2016-09-23 09:55] #5 closed

[2016-10-10 12:18] jhilden opened #7 "[question] Is there a solution for exporting/backing up asset files?"
Hi, we are currently archiving a couple of contentful spaces that are no longer used and this tool is coming in real handy. Thanks for that.
However, we also want to archive the asset files from these spaces and as far as I can tell, this tool is only exporting the textual data. Do you also have a prepared solution for downloading all the assets from a space for arachiving purposes?

Thanks

[2016-10-10 12:27] Khaledgarbaya commented on #7
Hi @jhilden ,

Unfortunately there is no  plan to do that for now but with a little code I think you can achieve that, since you can use contentful-export [as a library](https://github.com/contentful/contentful-export#usage-as-a-library), you can get the json output and loop through the assets array there and download the assets.

I will be glad to help you and give you some guidance there.

Best,

[2016-10-20 09:00] #7 closed

[2016-10-21 16:04] jhilden commented on #7
I created a fork and changed your tool so that it works for our asset downloading purpose #10.  It might not yet work for all use/error cases, but maybe it's a base for you to work with.

[2016-10-21 16:17] floelhoeffel opened #11 "Output on number of entities exported"
It would be great to see something like

contentful-export wrote 50 CTs, 120 entries, 20 assets, 5 webhooks to json

or something

[2016-11-02 14:53] davetao opened #12 "Cannot run export tool"
using Node v3.10.3 it appears that it cannot find the babel package.

Error: Cannot find module 'babel-register'
    at Function.Module._resolveFilename (module.js:440:15)
    at Function.Module._load (module.js:388:25)
    at Module.require (module.js:468:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/usr/local/lib/node_modules/contentful-export/index.js:5:5)
    at Mod

[2016-11-02 22:02] Khaledgarbaya commented on #12
Hi @davetao how did you get this error, did you install through `npm i -g contentful-export` or running the project from the source the source ?

[2016-11-03 14:34] davetao commented on #12
I was install through the npm install command as per README.md

[2016-11-03 21:37] qbunt commented on #12
Getting the same issue here @Khaledgarbaya with the global NPM install. Trying again right now with the source install.

[2016-11-03 21:40] Khaledgarbaya commented on #12
Ok I will check the issue asap

On Thursday, 3 November 2016, Jeremy Bunting <notifications@github.com>
wrote:

--
---
Khaled Garbaya
Javascript Ecosystem Developer
www.contentful.com

[2016-11-03 23:54] qbunt commented on #12
@Khaledgarbaya it looks like line 2 of index.js is looking for a `dist` directory that doesn't exist, it falls to the catch, which requires what looks to me like a dev-dependency. Maybe this is as simple as the `dist` folder being gitignored?

[2016-11-04 09:12] Khaledgarbaya commented on #12
That's weird, because I sepcify the dist directory in the files property, anyway I removed the dist directory from .gitignore so it will be available in github releases also, thanks @qbunt for pointing that up and nice to meet you too in the virtual world :)

[2016-11-04 09:36] davetao commented on #12
It works perfectly. Thanks again for this great tool

[2016-11-04 09:36] #12 closed

[2016-11-04 09:39] Khaledgarbaya commented on #12
![](http://i.imgur.com/43ID71v.gif)

[2016-11-04 11:09] rngadam opened #13 "Missing dependencies"
[code]

fails:

[code]

workaround:

[code]
then fails:

[code]

Not sure what's going on here. The repo seems to have dist/run-contentful-export.js.

[2016-11-04 11:12] Khaledgarbaya commented on #13
@rngadam, I think I just fixed that here https://github.com/contentful/contentful-export/issues/12 today can you try to install again ?

[2016-11-04 11:34] rngadam commented on #13
Indeed, it's fixed in the repo:

[code]

...and then:

[code]

[2016-11-04 11:49] rngadam opened #14 "Downloaded assets as a directory structure"
Currently, using ```--download-assets``` leads to following structure:

[code]

would like an alternative where each parts is a directory structure:

[code]

...as I expect our CMS to grow to a large number of files, a proper directory structure would lead to better performance on the filesystem (large number of files in a single directory is generally bad and hard to manage).

[2016-11-04 13:31] Khaledgarbaya commented on #14
Hi @rngadam ,
It was doing that before but then somehow I thought this solution is better
I guess I need to change it back.

[2016-11-04 13:37] #14 closed

[2016-11-04 13:38] Khaledgarbaya commented on #14
Hi @rngadam ,
I changed that ;) it does totally make sense you suggestion

[2016-11-07 02:17] rngadam opened #15 "Indent JSON output as an option or as default"
Right now, the export writes the JSON file as a single line.

Would prefer to use indented version to ease seeing differences between exports.

[2016-11-07 03:41] rngadam opened #17 "Create folder if it doesn't exist already"
Create folder if it doesn't exist already

CURRENT:

[code]

EXPECTED

Create folder if it doesn't exist.

[2016-11-07 08:49] Khaledgarbaya commented on #15
Thanks a lot, I merged your pull request

[2016-11-07 08:49] #15 closed

[2016-11-07 09:57] Khaledgarbaya commented on #17
Fixed in https://github.com/contentful/contentful-export/commit/2322b20acfc37c2ddcf8be86d4059d3f7ce70dc6

[2016-11-07 09:57] #17 closed

[2016-11-07 09:57] #13 closed

[2016-11-18 11:00] matt-hammond opened #19 "Can't get contentful-export to run"
With a vanilla node install, following the steps:

**sudo npm install -g contentful-export**

then:

**contentful-export**

I get the following response:

_$ contentful-export
module.js:471
    throw err;
    ^

Error: Cannot find module 'babel-register'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at require (internal/module.js:20:

[2016-11-18 13:37] Khaledgarbaya commented on #19
@matt-hammond ,
I just desicovered that a dependency was removed from the package.json in one of the recent merges, Sorry about that.
I push a fix and a new npm version should be available in the next few minutes.

[2016-12-20 11:07] apaatsio opened #22 "Does not work on Linux"
Getting error `/usr/bin/env: ‘node --harmony’: No such file or directory` when trying to run on command line.

When I Google that error message, all results say that the arguments in hashbang just don't work on Linux.

I'm using contentful-export 2.2.0.

[code]

[2016-12-20 11:35] Khaledgarbaya commented on #22
@apaatsio thanks for the report I guess I will remove the `--harmony` for now.
A fix will be landed soon

[2016-12-20 11:39] #22 closed

[2016-12-20 11:41] Khaledgarbaya commented on #22
@apaatsio
please give it few minutes until the ci finishes and a new version should be out in npm.
Sorry again thought `--harmony` will keep the tool backward compatible but meh..
Best,
Khaled

[2016-12-20 11:51] apaatsio commented on #22
Thanks for the quick fix!

[2016-12-20 12:00] apaatsio opened #23 "Export fails on 404 error"
Export fails every time on a 404 error. It varies on what resource it fails on. I have experienced at least roles, locales, and webhook_definitions returning 404.

I have double checked that the space id is correct.

[code]

Config
[code]

Edit: I noticed that in my config the includeDrafts and downloadAssets are strings when they probably should be boolean, but that doesn't affect the end result.

[2016-12-20 12:40] apaatsio commented on #23
In the browser the same request is working fine when I go to https://app.contentful.com/spaces/XXX/settings/locales

[2016-12-20 14:02] Khaledgarbaya commented on #23
hi @apaatsio ,
I think the draft export is kinda broken. I will look into it asap.
Best,
Khaled

[2016-12-20 14:31] apaatsio commented on #23
Seems so. I changed the config to have `"includeDrafts": false,` and now I get an error:

[code]

[2016-12-20 14:42] #19 closed

[2016-12-21 12:20] szimek opened #25 "Can't export without drafts"
I've got the following config file:
[code]
When I run `contentful-export --config export-config.json`, I'm getting the following error: `Missing required argument: preview-token`.

When I add it, so that my config file looks like:
[code]
I'm getting `ERR! Please make sure to specify --include-drafts to be able to get drafts` error.

[2016-12-21 12:25] Khaledgarbaya commented on #25
@szimek, Sorry for that I am fixing that soon, please follow this PR https://github.com/contentful/contentful-export/pull/24

[2016-12-21 12:36] apaatsio commented on #23
Still getting a similar error when testing with the branch @ #24

[code]

[2016-12-21 12:42] apaatsio commented on #23
I tried the export with another space and **it worked**! So for some reason it's now working with this one particular space.

[2016-12-21 12:43] apaatsio commented on #23
The non-working space has a lot of assets/images. Could those be the culprit?

[2016-12-21 12:45] Khaledgarbaya commented on #23
@apaatsio think it is related to the token, maybe you don't have access to webhooks

[2016-12-21 12:52] apaatsio commented on #23
Yes! I made the user who owned the token an admin of that space and it started working! Thanks!

The error message should be 401 and not 404. It was a bit misleading.

[2016-12-21 12:52] #23 closed

[2016-12-21 13:52] benben commented on #25
Ran it that too, neither `--include-drafts=false`, `--include-drafts false` or omitting the option works

[2016-12-21 14:54] apaatsio opened #26 "Socket hang up errors sometimes when exporting assets"
I'm getting `Error: socket hang up` sometimes. It's not consistent. Most runs are with 0 errors. But I've gotten errors on at least three separate runs. The number of errors varies. Most errors I've gotten in a single run is 23.

As an end result the files exist but their size is 0

[code]

[2016-12-21 15:01] apaatsio opened #27 "Process exits with status 0 on error; should be non-zero"
The contentful-export script exits with status 0 even when there are errors. This is problematic if you are running this script via another script or in a CI tool like Jenkins.

It should return a non-zero error code on error.

I noticed this when I experienced the error described in #26

[2016-12-21 15:13] apaatsio commented on #26
Maybe a simple retry would be a sufficient six. With some sane maximum number of retries.

[2017-01-02 09:39] Khaledgarbaya commented on #27
Hi @apaatsio,
Sorry for the late response I will tackle this asap, PR are welcome also :) if it is urgent for you

Best,
Khaled

[2017-01-02 11:39] apaatsio commented on #27
Not urgent :)

[2017-01-19 19:26] LA1CH3 opened #29 "TypeError: Cannot read property 'url' of undefined"
Steps to reproduce:
1. `npm i -g contentful-export` on Node 7.4.0.
2. Create a config.json like so (tokens replaced):
[code]
3. run `contentful-export --config config.json`

It gets to "Getting content from source space" and then after about a minute I receive the following error message:

[code]

The readme says nothing regarding a destination space, and I'm not sure why that would even come up a

[2017-01-19 20:21] Khaledgarbaya commented on #29
Hi @LA1CH3 Sorry for the message it is a bit confusing.
maxAllowedLimit max is 1000 which means how many record per page you can get. Also, you no longer need the `previewToken` (Sorry about that I just updated the token).
Ok now for the main reason for this error could be an error in the managementToken or the spaceId.
Make sure it is the management token you got from https://www.contentful.com/d

[2017-01-19 21:39] LA1CH3 commented on #29
Thanks for the quick response @Khaledgarbaya . I have changed my config object to this:

[code]

And it now works. I also was behind a corporate proxy- I switched to a regular network and it worked, so that was probably the original issue. However, I'm running into something different now.

I get the exported object back, but I find that my `entries` array from the export is completely empty. Any

[2017-01-31 15:25] pgscandeias opened #30 "Add proxy support"
Under certain conditions, particularly in enterprise environments, it's sometimes required to pass requests through proxies. It would be useful for this tool to support http proxies.

[2017-02-02 22:03] pixelchef opened #31 "defualt destination path returning error"
Downloading and pasting my personal oAuth token (found in docs) and my SpaceId into the project returns the following. The readme says undefined should return [in the same folder](https://github.com/contentful/contentful-export/blob/master/README.md#usage-and-examples)

[code]

[2017-02-03 00:08] #31 closed

[2017-02-03 00:08] pixelchef opened #32 "Remove max response size"
I'm trying to export a backup of my content library and hitting the limit. ```"Response size too big, was: 15951862b. Maximum allowed response size: 7340032b.```

[2017-02-03 00:45] pixelchef commented on #32
Perhaps adding a way the exporter will automatically break up large requests like this would be helpful

[2017-02-06 10:49] Khaledgarbaya commented on #32
hi @pixelchef ,
The problem is that the default number of records per page is 1000. You can control that by specifying `--max-allowed-limit`, which is [here](https://github.com/contentful/contentful-export/blob/master/lib/usageParams.js#L41),  so the response will be smaller. I think setting it to `100` will be more than enough for your case.

Best,
Khaled

[2017-02-06 10:49] #32 closed

[2017-02-06 10:50] Khaledgarbaya commented on #25
this issue is resolved in the new version

[2017-02-06 10:50] #25 closed

[2017-02-13 10:44] SalilGavhankar opened #33 "Export fails on 404 error"
I tried to export the space with command
contentful-export --space-id=xxx --management-token=xxx

I have Administrator role for the source space.

Its giving following error
ERR! Failed with
 NotFound: {
ERR! Failed with
   "request": {
ERR! Failed with
     "url": "https://api.contentful.com:443/spaces/xxx",
ERR! Failed with
     "headers": {
ERR! Failed with
       "Accept": "application/json, t

[2017-02-14 12:44] SalilGavhankar commented on #33
The issue was because of incorrect management token. After correcting the token, space contents got exported.

Hence closing the issue.

[2017-02-14 12:44] #33 closed

[2017-02-28 19:42] AndrewBresee opened #35 "opts and errorLogFile are undefined in runContentfulExport"
When runContentfulExport is called in bin, `setTimeout(function () {
  runContentfulExport(usageParams)...` it is called with only usageParams.

`let {opts, errorLogFile} = usageParams` is incorrectly set. ES6 interprets it as `let opts = usageParams.opts, let errorLogFile = usageParams.errorLogFile`

opts being undefined,  maxAllowedLimit and includeDrafts can not be set. This issue was brought u

[2017-02-28 20:18] Khaledgarbaya commented on #35
Hi @AndrewBresee, I didn't get your point the `opts` and `errorLogFile ` are set [here](https://github.com/contentful/contentful-export/blob/master/lib/usageParams.js#L67-L70)

[2017-02-28 21:46] AndrewBresee commented on #35
ah, my mistake. I was wrong about where they are set.

However, if you were to console log opts inside of runContentfulExport, it is undefined.

[2017-03-01 09:16] Khaledgarbaya commented on #35
@AndrewBresee Are you using content-export as a node module ? or as a cli ?

[2017-03-01 17:37] AndrewBresee commented on #35
@Khaledgarbaya As a node module. I can hack a solution by going into the content-export module and putting a static number in for maxAllowedLimit in the run-contentful-exports.js file. Either that or make the changes to the code that I submitted a [PR for here](https://github.com/contentful/contentful-export/pull/34).

[2017-03-01 20:59] Khaledgarbaya commented on #35
Why not just passing `{opts:{'maxAllowedItems': 100 ....}, errorLogFile: 'filename'}`

[2017-03-01 21:00] Khaledgarbaya commented on #35
[code]

[2017-03-02 02:50] AndrewBresee commented on #35
This should work! But it was not how the options were specified in the README.

[2017-03-22 15:28] axe312ger commented on #35
Good point, I fixed the documentation, will be in master soon :)

[2017-03-22 15:28] #35 closed

[2017-03-23 04:27] steve-a-jones opened #40 "--include-drafts should actually be --drafts-only?"
A few thoughts regarding the `--include-drafts` flag:

- I'm aware that draft exports aren't supported (as stated under limitations "Draft entries are not supported.") - should this argument be parsed at all in the current version if that is the case?

- Passing `--include-drafts` actually _filters_ all entries for type draft - should this flag be renamed to --drafts-only or perhaps instead introd

[2017-03-30 23:16] cachrisman opened #43 "usage as a library doesn't work as expected"
using the example given in the Readme:

[code]

only returns `space data undefined`.

It seems the tool should know when it is being run as a library and directly return the data rather than write it to a json file.

[2017-03-31 08:11] Khaledgarbaya commented on #43
Hey @cachrisman @axe312ger will take care of this asap

[2017-03-31 09:07] Khaledgarbaya commented on #43
This is now fixed in https://github.com/contentful/contentful-export/pull/44#pullrequestreview-30198890

[2017-03-31 09:07] #43 closed

[2017-03-31 11:20] Khaledgarbaya commented on #29
This should be fixed in the new version

[2017-03-31 11:20] #29 closed

[2017-03-31 11:20] Khaledgarbaya commented on #26
The new version deals with this much much better

[2017-03-31 11:20] #26 closed

[2017-03-31 20:01] Pedootz opened #45 "Include an option to specify filename?"
Hi Contentful,

My name is Tom, I'm an engineer at Huge.  I know that our engineers and Contentful have had an ongoing dialogue around this tool (along with the export tool) and that some of the 4.1 changes were the result of the conversation we had a few weeks ago.  I'd find it really useful to be able to specify an output filename as an option, with the fallback being existing behavior.  Would y

[2017-04-01 09:12] Khaledgarbaya commented on #45
Hi @Pedootz,
That's a Great idea and of course, PRs are always welcome.
Best,
Khaled

[2017-04-05 00:18] matt-lavinia opened #47 "export specific content types or models"
A nice addition would be the ability to define a comma-separated list of models / entries to export from a specific space.

i.e. )
I have a space that has models X, Y, & Z.
I want to get all entries of type Y & Z only via the export utility.
I then want to import only entries of type Z to a new space on a daily basis.

A param like:
entry-content-types=Y,Z

[2017-04-05 08:41] axe312ger commented on #47
Yeah sweet idea Matt, we will add it to our feature list :)

[2017-04-05 11:45] axe312ger commented on #40
That was fixed with `v5.3.0` which actually just came out a few hours after u opened the issue. All good, please just upgrade, it will behave as expected afterwards :)

[2017-04-05 11:45] #40 closed

[2017-04-05 11:47] axe312ger commented on #11
On it 😏

[2017-04-10 09:01] #11 closed

[2017-04-11 15:26] dustinWeaver commented on #47
I second this idea.  Would help with large content models where only few types have changed.

[2017-04-12 00:04] longh957 opened #50 "RangeError: Invalid string length error"
Get the following error when I run the tool, in my config i have skipContentModel set to true, and maxAllowedLimit at 100.

[code]

[2017-04-12 09:46] Khaledgarbaya commented on #50
Hi @longh957,
This error is coming from V8 which should actually be `OutOfMemory` due the to the size of the exported data that you're trying to stringify.
I will take a look into this asap, and maybe try to use streams when exporting data

[2017-04-18 10:34] ahmettaha commented on #47
+1

[2017-04-24 04:47] jonocairns opened #51 "Rate limit hit on run"
Is there any way to internally drip feed the requests so they won't hit the management API rate limit? 10 requests per second is hit almost instantly when I run the export.

https://www.contentful.com/developers/docs/references/content-management-api/#/introduction/api-rate-limits

[2017-04-24 08:02] Khaledgarbaya commented on #51
Hi @jonocairns,
The tool is already taking care of the rate limit for you automatically and resends the request.
So no need to configure that client side.
Best,
Khaled

[2017-04-24 21:39] jonocairns commented on #51
@Khaledgarbaya thanks for the reply 👍

Is it hitting the limit then throttling or proactively doing it? Is there any chance of losing service while the limit resets, even if for a second? Is there any chance of hitting the hourly cap then completely losing service until the hour is up? Do you know if the rate limits are endpoint specific (as in, if you hit the rate limit in api you can still acces

[2017-04-25 09:14] Khaledgarbaya commented on #51
Hi @jonocairns,

Yes, the tool hit the rate limit and gets a rate limit header telling it when it safe to send the request again. the tool takes that value and adds a jitter to it.

With the tool, you should not hit the hourly

The rate limit is per organization so anyone using any data from that org will be affected. It is recommended to use the content delivery API when pulling content for your

[2017-04-25 20:38] jonocairns commented on #51
Hey @Khaledgarbaya,

I'll add a bit of info for what I mean by service. Currently the rate limit for the API is 10 requests per second or 36000 per hour.

We currently use the cdn for the majority of operations. This is required to be up 24/7 to serve content to a site. I'm worried that hitting the rate limit cap on the API for this backup/extract will cause requests to get denied with the retry h

[2017-04-25 20:45] Khaledgarbaya commented on #51
Hi @jonocairns you don't have to worry about that the Content Delivery API rate limit is much higher and is not affected by the CMA.

[2017-04-25 20:56] jonocairns commented on #51
Great, thanks for that @Khaledgarbaya

[2017-04-26 07:39] floelhoeffel commented on #51
Rate limit on CDA and CMA are separately calculated. Furthermore CDA has
caching on CDN edge hence all requests against the cache do not count
towards CDA rate limits at all.

CDA rate limit usually never gets into effect with a sane caching strategy.
E.g. don't append a timestamp to requests or push updates to a space on a
very high rate for a long time.

Am 25.04.2017 10:56 nachm. schrieb "Jono

[2017-04-26 08:31] #51 closed

[2017-04-27 15:44] matt-tingen opened #53 "Export promise does not include content"
This was observed on 4.4.0 and 4.5.0.
It seems to be a regression of #43.

Running this:
[code]
yields output `content: undefined`.

Expected behavior is for `content` to be an object containing the space's content.

[2017-04-27 15:51] Khaledgarbaya commented on #53
Hi @matt-tingen let take a look at this get back to you asap

[2017-04-28 14:29] #53 closed

[2017-04-28 17:22] matt-tingen opened #55 "getFullSourceSpace.then is not a function"
This was observed on 4.5.1.

It looks like the API of `getFullSourceSpace` changed to no longer return a promise in the [recent version bump](https://github.com/contentful/contentful-export/commit/0bc09f578af460599ae4b074ceecaccb4f772bfd) of `contentful-batch-lib`.
Let me know if you want me to re-file the issue on `contentful-batch-lib`, instead.

Running this:
[code]
yields output
[code]

Expect

[2017-04-29 21:46] Khaledgarbaya commented on #55
Hy @matt-tingen ,
Sorry about that @axe312ger will take a look asap and fix that

[2017-04-30 10:31] Khaledgarbaya commented on #55
This is now fixed in https://github.com/contentful/contentful-export/commit/270ce478c29091855686c1bbb91c2e1368a104f2

[2017-04-30 10:31] #55 closed

[2017-05-04 11:15] #30 closed

[2017-05-05 09:37] moimael opened #57 "Support for incremental backup"
HI,

It would be awesome if this tool supported incremental backup, so we can run regular backup without exploding bandwidth and storage usage.

Thanks !

[2017-05-05 15:00] axe312ger commented on #57
Hey Moimael,

can you be more exact here, what would you like to backup incremental? Just the content-model or your content/assets? Or all of it?

The simplest solution, that comes to my mind at the moment, would be the following:

Adding an option like `--changed-since` which would lead to an export only containing data which was changed since the given date.

That can be achieved by adding a sea

[2017-05-09 16:00] ardalann opened #58 "How many API calls per export/import"
As Contentful uses the number of API calls in its pricing model, it'd be very useful if it's described on README how we can calculate the number of API calls that will be made per export/import with `contentful-export` and `contentful-import`.

[2017-05-09 20:03] Khaledgarbaya commented on #58
Hi @ardalann,
contentful-export does not use much depends on your data.
for contentful-import it is kinda tricky to get an exact number.
for example an entry needs to be created and published so that's 2 per entry, same for contentTypes. for assets 1 request for creation, 1 request for processing and one for publishing (could be more if the asset has more than 1 locale). for the rest it is just cr

[2017-05-09 20:06] ardalann commented on #58
I see. It doesn't have to be exactly accurate, just an estimate would do it.
It'd be great if you can do the same thing for export as well. I know it depends on the data, but maybe something like '1 call per 1000 entries of each type'...
Thank you! 👍

[2017-05-10 09:41] moimael commented on #57
Ideally I'd like to backup everything incrementally :) Proposed solution sound good, will everything be "merged" into the same backup ? Or will this allow to support rollback ? And what about importing it again ?

Thanks !

[2017-05-10 12:24] Khaledgarbaya commented on #57
Hi @moimael,
I don't think it will be merged in the previous backup. Mainly export tool is meant to have a copy of your space that represents it at a specific point in time. for incremental backup maybe you can check our [sync](https://www.contentful.com/developers/docs/concepts/sync/) API, but this will allow you get only what changed between two points in time.
the downside of that you will only

[2017-05-17 12:46] axe312ger commented on #58
Roughly you can say: It is one call per entry plus one for publishing them.

Sorry, can't give you more accurate information since it really depends on the current state of the destination space.

[2017-05-17 12:46] #58 closed

[2017-05-18 07:35] axe312ger commented on #50
Hey @longh957,

I will try to replicate, can you maybe share some information how big the Space is, you are trying to export? Number of entries, assets etc?

Meanwhile I will create a new branch, which will use streams to write the JSON file, hopefully getting rid of the memory error then.

Cheers,
Benedikt

[2017-05-18 09:02] axe312ger commented on #50
@longh957 here we go, I think this could help you. Could you check if the the branch of this PR fixes your memory issue?

https://github.com/contentful/contentful-export/pull/59

[2017-05-18 17:23] longh957 commented on #50
Thanks @axe312ger, I will check it out and let you know how it goes. For your previous question, the space we are using has about 60k entries, 200k assets, and about 44 content types.

[2017-06-27 08:05] #50 closed

[2017-06-27 08:06] axe312ger commented on #50
@longh957 the newest version should be able to export huge data sets. Feel free to upgrade and please tell me if it worked out for you :)

[2017-06-30 14:23] timrobertson100 commented on #47
+1

[2017-07-03 07:07] axe312ger commented on #47
Just want to mention we have this on the radar and it will be implemented asap :)

[2017-07-03 07:57] timrobertson100 commented on #47
It would be nice (although I imagine not totally easy) if it could also bring only the assets associated with the entries being exported.

[2017-07-03 08:47] axe312ger commented on #47
Hmm, this adds extra complexity but would make sense. I'll keep it in mind :)

[2017-07-21 20:16] tomasdev opened #70 "Different result on export vs CDN API"
I have 2 entries in my space, with different content types.
[code]

and `https://cdn.contentful.com/spaces/FROM_SPACE_ID/entries?select=fields&locale=*` return different things. I'll paste the keys of the objects only:

NODEJS:
[code]

CDN API:
[code]

Also note how via NodeJS I'm getting a `dislcaimers` (typo) field on an entry that API doesn't have it at all. And I'm using include drafts false (

[2017-07-24 09:58] axe312ger commented on #70
Hey Tomas,

it looks like you disabled the `dislcaimers` field for the response.

This option is only taken into account in the CDA/CDN. The export tool uses the management API which always includes all fields.

Hope that helps,
Benedikt

[2017-08-04 22:04] dustinaleksiuk commented on #45
This would be super valuable for me as well. We can adapt to your hard-coded filename, but our scripts will fail if you ever change it. It would be much better to just allow us to specify the filename.

[2017-08-08 09:39] axe312ger commented on #45
Added this ticket to the v5 milestone. A PR is very welcome, the v5 is currently developed in the `next` branch

[2017-08-08 09:39] axe312ger commented on #47
Added this ticket to the v5 milestone. A PR is very welcome, the v5 is currently developed in the next branch

[2017-08-08 15:18] dustinaleksiuk commented on #45
@axe312ger - I realize now that I can grab the output from spaceExport in the callback and write that to a file myself, so this might not be as valuable as I thought at the time.

[2017-08-08 15:52] axe312ger commented on #45
Would still be great to offer this option also from the CLI. It is low priority anyways 🙈

[2017-08-28 20:11] steveninmanCubs opened #71 "NPM Error Path - .staging\trier-49b97969"
Hi,

I'm attempting to leverage this code to spin up some test environments in Contentful.  I have reinstalled all the way back down to Node locally and still running into this error on installation.  Any thoughts?  I swapped out my username below

npm ERR! path C:\Users\<username>\AppData\Roaming\npm\node_modules\.staging\trier-49
b97969\h

Let me know if you want the detailed log

[2017-08-29 07:18] Khaledgarbaya commented on #71
Hi @steveninmanCubs this looks like an npm issue, it looks like `npm install` was running out of memory. Can you try to clear npm caches or increase the swap file size?

[2017-08-29 12:25] steveninmanCubs commented on #71
The latest version of NPM self heals on any cache issues.  It's always possible to run it with --force, but I thought that wouldn't be an issue.  I ran a cache verify and seems ok:
Cache verified and compressed (~\AppData\Roaming\npm-cache\_cacache):
Content verified: 1027 (19929206 bytes)
Index entries: 1740
Finished in 46.24s

Will poke around the swap file size next.

[2017-08-29 12:35] steveninmanCubs commented on #71
Looks like I have 8 GB of swap allocated on my machine.

Do you recommend more, that seems like quite a bit.

[2017-08-29 12:39] Khaledgarbaya commented on #71
Hmm this is weird, 8GB should be enough I guess and the package is not that big to require all of that. Can you try installing the package with yarn? Which npm and node versions do you use?

[2017-08-29 12:41] steveninmanCubs commented on #71
Node v6.11.2
NPM 5.3.0

Here is the bottom of a verbose logging install

npm http fetch GET 200 https://registry.npmjs.org/spdx-license-ids 7ms (from cac
he)
npm verb correctMkdir C:\Users\sinman\AppData\Roaming\npm-cache\_locks correctMk
dir not in flight; initializing
npm verb lock using C:\Users\sinman\AppData\Roaming\npm-cache\_locks\staging-bb2
a88b8edec59df.lock for C:\Users\sinman\AppData\R

[2017-08-29 12:45] Khaledgarbaya commented on #71
Can you create the folder `C:\Users\sinman\A
ppData\Roaming\npm\node_modules.staging\trier-49b97969\h` and try again or try to install the package using yarn

[2017-08-29 12:45] steveninmanCubs commented on #71
Yeah, I tried manually creating that folder before reaching out to you and still had same issue.

Installing yarn now.  Assuming once I get this in place should run: yarn global add contentful-export

[2017-08-29 12:47] steveninmanCubs commented on #71
C:\development\contentful-export>yarn global add contentful-export
yarn global v0.27.5
[1/4] Resolving packages...
[2/4] Fetching packages...
error An unexpected error occurred: "https://registry.yarnpkg.com/trier/-/trier-
0.3.6.tgz: ENOENT: no such file or directory, open 'C:\\Users\\sinman\\AppData\\
Local\\Yarn\\cache\\v1\\npm-trier-0.3.6-61a80f44f8d7a24704f7628ada70c2c79325667d
info If you thi

[2017-08-29 12:48] Khaledgarbaya commented on #71
Hi @steveninmanCubs I will try to get a windows machine and test this, I just tried installing the package and it was working fine.

[2017-08-29 12:51] steveninmanCubs commented on #71
We have attempted it on both Windows 7 and Windows 10 OS and same issue on both.

[2017-08-29 13:21] Khaledgarbaya commented on #71
Hi @steveninmanCubs I just switched to a windows machine and I'm having the same issue. I will continue investigating on my side

[2017-08-29 13:33] steveninmanCubs commented on #71
Thanks much, appreciate it!  We ran into it with contentful-cli too, but contentful-import works fine.

[2017-08-29 13:44] Khaledgarbaya commented on #71
Hi @steveninmanCubs so the issue is in the version 4.7 and up, you can for now do npm install -g contentful-export@4.6 until we find the corrupted file and make a new release.
Sorry for the inconvenience

Best,
Khaled

[2017-08-29 13:54] steveninmanCubs commented on #71
Awesome, thanks for the quick reply, will do this now and continue on.

[2017-08-30 08:36] Khaledgarbaya commented on #71
Hi @steveninmanCubs I identified the corrupted version, it was due to a new dependency we had.
I reported the problem to the dependency maintainer and he will try to release a fix asap
Best,
Khaled

[2017-08-30 13:03] steveninmanCubs commented on #71
That makes sense as trying to install that library by itself has the same error.

[2017-10-30 09:37] axe312ger commented on #71
This is fixed and released :)

[2017-10-30 09:37] #71 closed

[2017-11-28 21:58] maria-pacana-ck opened #75 "Query (on `next` branch) results in 400 error"
I tried out the new `--query` functionality on the `next` branch. I ran `./bin/contentful-export --config config.json --query content_type=[contentType]` and got an `InvalidQuery` error.

The code is passing the query parameters (`content_type=[contentType]`) to `getFullSourceSpace`. This `content_type` query parameter works with Entries, but not with Assets, which don't have a ContentType. `getFu

[2017-11-29 10:20] Khaledgarbaya commented on #75
HI @maria-pacana-ck
can you try `--query 'content_type=contentType'` note the quotes

[2017-11-29 18:56] maria-pacana-ck commented on #75
@Khaledgarbaya  I tried with the quotes but it still doesn't work. It *does* work when I add a filter in `pagedGet` in `get-full-source-space` (over in `contentful-batch-libs`). Inside `pagedGet`, I deleted `content_type` from `query` when the method was not `getEntries`. Then I did another `npm run build` and reran the command, and it worked. I think you might have to update `contentful-batch-lib

[2017-11-29 19:01] maria-pacana-ck commented on #75
Look at this error log file. It specifically references a 400 on the `/assets` URL.

`[
  {
    "ts": "2017-11-29T19:00:02.541Z",
    "level": "error",
    "error": {
      "name": "InvalidQuery",
      "data": {
        "status": 400,
        "statusText": "Bad Request",
        "message": "The query you sent was invalid. Probably a filter or ordering specification is not applicable to the type o

[2017-11-29 19:08] Khaledgarbaya commented on #75
ah @maria-pacana-ck good catch,
I will take a look at that tomorrow.

[2017-12-12 11:42] Khaledgarbaya commented on #75
Hi @maria-pacana-ck,
the issue should be fixed now, the param`--query` is now split between `--query-entries` and `--query-assets`.
Your command should be
[code]

[2017-12-12 11:43] #75 closed

[2017-12-12 14:11] iddan commented on #40
Is this fixed in the latest released version on NPM?

[2017-12-12 14:17] axe312ger commented on #40
@iddan yes, it is or ... should be. If you still experience this, please try our rewrite/new beta via `npm install -g contentful-export@next`. I'd love to hear if it works for you in that new version :)

[2017-12-12 14:47] iddan commented on #40
Oh, I should have included @next... This is a serious bug when are you going to stabilise version 5?

[2017-12-12 14:55] axe312ger commented on #40
It is more or less on top of your todo list for the JS tooling. We hope to get it out this year, otherwise early 2018.

[2017-12-12 14:59] iddan commented on #40
How dangerous is it to use right now?

[2017-12-12 15:11] axe312ger commented on #40
Since export is not touching your space at all, the export beta can be used without any fears.

For the import version, this is not that easy to answer. It has increased test coverage, multiple bugs fixed and turned out to be more reliable in our internal tests. Also, import does not delete any content.
We did not encounter any destroyed/faulty content in our tests after importing, but still, we m

[2017-12-12 15:29] iddan commented on #47
If I may add for this: We need the ability to include drafts only for specific content types

[2017-12-12 15:31] axe312ger commented on #47
This is totally possible with the new `--query-entries` feature of the new versions. You just have to do multiple exports. One for the content types including drafts, another for the ones without.

Then import twice

[2018-01-03 17:43] frederickbrock opened #79 "Attempting to export locales"
I am currently attempting to export content from a space. When the tool attempts to export locales I receive a 404. I am not sure the tool has a defect, but I am trying to determine which piece of content has an invalid link or if I am not exporting correctly.

The error:
  {
    "ts": "2018-01-03T00:24:18.286Z",
    "level": "error",
    "error": {
      "name": "NotFound",
      "data": {

[2018-01-04 10:47] axe312ger commented on #79
He Fredrick,

Looks like a configuration problem to me.

Did you check twice if your spaceid is correct, you management token is valid and you can access locales on that space?

Best,
Benedikt

[2018-01-04 10:49] axe312ger commented on #57
We introduced `--query-entries` and `--query-assets` in the latest major version to pass additional query parameters. With that, sth like `'sys.updatedAt[gte]': '2013-01-01T00:00:00Z'` should be possible now.

Closing here, feel free to reopen when this is still an issue.

[2018-01-04 10:49] #57 closed

[2018-01-04 10:50] axe312ger commented on #47
As mentioned, this is now possible via `--query-entries`. Closing this issue :)

[2018-01-04 10:50] #47 closed

[2018-01-04 10:51] axe312ger commented on #27
This is fixed in the latest major. It exits with non-zero exit code when errors occurred.

[2018-01-04 10:51] #27 closed

[2018-01-04 10:51] #70 closed

[2018-01-04 15:51] Khaledgarbaya commented on #79
Hey @frederickbrock ,
Locales are only available if you are an admin. Make sure to have an admin token.
Best,
Khaled

[2018-01-09 11:30] aleks-dfds opened #81 "Documentation for arguments to --query-entries lacking"
The format for the arguments to --query-entries is not clear, it would be great to read more about it in
1) README.md
2) content-export --help

Both the json and the commandline versions would be great to describe, otherwise it takes a lot of poking around to figure it out.

[2018-01-09 14:06] axe312ger commented on #81
Hey Aleks,

how about https://github.com/contentful/contentful-export/pull/82?

Best,
Benedikt

[2018-01-10 11:54] #81 closed

[2018-01-13 10:40] matt-lavinia commented on #47
Great! Thanks for handling this.

[2018-01-18 18:49] kpollich opened #84 "`spaceExport` Promise is Rejected when only "Warnings" are encountered"
When encountering rate limits during export, the `spaceExport` Promise is rejected which makes using `contentful-export` as a library nearly impossible. Is there something wrong with my code below causing this error to be thrown?

[code]

Full Output:

[code]

I wind up with an error log file containing the rate limit warnings, but I know the export was successful because I _also_ have a `contentf

[2018-01-18 18:51] kpollich commented on #84
I think what I'm going to have to do in terms of a workaround is write the export out to a file, then read the export JSON back into memory. Workable but far from ideal.

[2018-01-19 08:28] axe312ger commented on #84
Hey @kpollich,

thank you for that report, we will take care of it.

Best,
Benedikt

[2018-01-22 13:55] #84 closed

[2018-01-22 15:19] Khaledgarbaya commented on #45
this is now possible using `--content-file`

[2018-01-22 15:19] #45 closed

[2018-01-31 23:38] christineywang opened #88 "Error message with failed export + options not working"
I am trying to export a very large space with over 160,000 entries.

I've noticed two issues during this experience:

 ### Issue 1:

During the export, the tool hangs on these two lines for a particularly long time:
`Fetching content entries data`
`Writing data to file`

Then, the export fails and I get this error message:
`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out o

[2018-02-01 07:54] Khaledgarbaya commented on #88
Hi @christineywang ,

which version of the export tool is used

which operating system the user is using can you change the single quote to double quote ?

[2018-02-01 18:15] christineywang commented on #88
Hi @Khaledgarbaya,

I am using the latest version of the export tool (just like the user). It was installed using:
`npm install -g contentful-import@next`

I am using Mac OS v10.13.2.

Using double quotes does not make the `--query-entries` option work.

<hr>

#### Something else I've noticed:

Additionally, I've been testing the export tool from a Node app. The export also fails. I actually don't

[2018-02-02 09:53] axe312ger commented on #88
For `queryEntries`: This is actually an array, so you need to use `queryEntries: ['content_type=blogPost'],`

For the rest: We need to investigate, exporting such big spaces is sth we do not test every time.

[2018-02-02 17:59] christineywang commented on #88
Hmm, I am still having issues with the `--query-entries` option (even when I put the filter in an array).

When I run this tool via a Node app, I don't get any errors but the export file still contains all content types, not just the one I filtered for.

When I run the tool in the terminal, it stops at this line:
`Fetching content entries data`

And I get this error:
`Error: Status: 400 - Bad Requ

[2018-02-05 10:05] axe312ger commented on #88
Hey Christine,

yeah, it would help a lot if you could split this up into two separate issues. Easier to track and reply.

For the `query-entities` we'd need more details:
* Which node version are you on?
* Which version of contentful-export do you use?
* Which operating system are you using?
* What is the exact command you are executing?

Thanks :)

[2018-02-05 14:40] christineywang opened #90 "--query-entries option does not work"
The `--query-entries` option does not appear to work. I've tested both from the terminal and a Node app.

For the latter, when I add the `--query-entries` option to my script file, the export doesn't run and I get this error:
`TypeError: options.queryEntries.join is not a function`

I've tried with both single and double quotes (and also tried putting the value in an array).

This is what the line

[2018-02-05 14:41] christineywang commented on #88
[Done](https://github.com/contentful/contentful-export/issues/90).

[2018-02-05 19:29] christineywang commented on #90
I'm going to close this issue because I did further testing and was able to just export entries from a specified content type. I was confused because when I did a search in the exported document, I was still seeing other content types (but I realize now that this is expected because I didn't exclude exporting content types).

I am also able to run the export tool in a Node app now (not sure what h

[2018-02-05 19:29] #90 closed

[2018-02-07 20:21] Rclayton78 opened #91 "npm ERR! 404 Not Found: @contentful/axios@^0.18.0"
I'm getting this NPM error message: **npm ERR! 404 Not Found: @contentful/axios@^0.18.0**
Is this an NPM registry issue?

Wondering if this could be related:
https://github.com/npm/npm/issues/19254

[2018-02-08 08:50] axe312ger commented on #91
Jep, has to be either your machine or a bug in npm. We are downloading this dependency daily on multiple machines and our CI and are not experiencing that problem.

You may try to delete your local npm cache and the `node_modules` directory in your project. This might help.

https://docs.npmjs.com/troubleshooting/try-clearing-the-npm-cache

Best,
Benedikt

[2018-02-08 17:39] Rclayton78 commented on #91
We found the issue on our end. We were using a proxy I was unaware of and it was cached.

Thanks for the help!

[2018-02-08 17:40] #91 closed

[2018-02-12 13:46] MouldiGABSI commented on #88
Hi @Khaledgarbaya  I'm Having the same issues with --query-entries
Bellow the command i am trying to execute
contentful-export \
  --space-id $spaceID \
  --management-token $management_Token
  --queryEntries:['content_type=StoriesCarouselBlock']

it export all contentType availables in the space

[2018-02-12 13:58] axe312ger commented on #88
@MouldiGABSI
Using `queryEntries: [...]` is only valid if you use contentful-export as a library. For CLI usage please have a look at the readme file (https://github.com/contentful/contentful-export#querying)

➡️ `--query-entries 'condition A' --query-entries 'condition B'`

[2018-02-12 13:58] #88 closed

[2018-02-12 13:59] axe312ger commented on #79
No feedback for about 1.5 months. Closing this issue, feel free to post here or open a new one if it is still an issue for you.

[2018-02-12 13:59] #79 closed

[2018-02-12 14:27] MouldiGABSI opened #93 "--query-entries doesn't apply conditions"
Hello,
Am having an issue with --query-entries. Am trying to export a specific contentType by using --query-entries 'content_type=my contentType' but it export all contentType available in my space

[2018-02-12 16:19] axe312ger commented on #93
Hey Mouldi,

a few questions:

* which version of contentful-export are you using?
* Can you please provide the full command you are running? (Make sure to stripe out your management token)
* Which operating system are you working with?

Thanks,
Benedikt

[2018-02-12 16:24] christineywang commented on #88
Hi @axe312ger,

Just curious, why was this issue closed? I am still having issues with exporting large spaces. Thanks!

[2018-02-13 08:54] axe312ger commented on #88
Ohh sorry Christine,

understood it as you already created two separate issues. Please clean up the issue description in the first post here to contain one problem only or create a new one for only one problem each.

Otherwise keeping track of the issue is hard and we continue mixing up answers for two separate problems.

Thanks,
Benedikt

[2018-02-13 09:15] MouldiGABSI commented on #93
Hello,
Thank you for your response.
I'm using mac os 10.13.2
The commad i'm trying to execute is:

contentful-export \
--space-id $spaceID \
--management-token $management_Token
--query-entries 'content_type=mycontentType'

[2018-02-13 09:55] axe312ger commented on #93
This is all correct and working in our tests. I can just assume:

* You are using an older version of export which does not support the pretty new query feature
* Your content type id is wrong
* The `--query-entries` option does not filter content types, it does filter entries. So it might be you expect the content types to be filtered while the feature is filtering your entries. Please check if t

[2018-02-27 12:57] axe312ger commented on #93
Hey @shikaan,

I guess what you trying to achieve is to get all entries which have values in the `sv` locale. This is not possible in this ways but you might be able to work around like this:

[code]

This checks if the title fields has a swedish value for a specific content type. Note that your results will then be localized to swedish.

Hope that helps,
Benedikt

[2018-02-27 13:39] shikaan commented on #93
Hello @axe312ger,
thanks for the quick reply.
Unfortunately making the call you suggested didn't return the expected result: I have the correct entries (the ones matched by the `content_type` parameter), but the field appears in every locale not only in `sv`

[2018-02-27 14:15] axe312ger commented on #93
Ohh sorry, here the yargs syntax tricked me, it should be:

[code]

[2018-03-22 10:30] ponchique opened #98 "403: The access token you sent could not be found or is invalid"
Hi there

I try to export data from the space using this config in `export.json`:

[code]
Export command:
`contentful-export --config export.json`

But I got this:
`Error: Status: 403 - Forbidden - Message: The access token you sent could not be found or is invalid.`

Though, I use the valid token (it works on my localhost) and contentful-export 6.0.4
OS: Mac

What could be wrong?

thanks

[2018-03-22 11:06] axe312ger commented on #98
Are you sure you used and management token, not an delivery token? 🤔

[2018-03-22 11:34] ponchique commented on #98
You're right!
My fault, I didn't notice that we need to use a management one.
Anyway, generated personal
Export is completed.

Thanks

[2018-04-10 20:41] jonjaffe opened #99 "Separate --skip-content into --skip-entries and --skip-assets"
Would it be possible to separate this option into two, so you can import content without assets and vice versa?

[2018-04-26 22:35] DanweDE opened #104 "--quiet parameter for no output"
Especially when using this library as a node module, it would be great to have an option (e.g. `--quiet`) to suppress the progress output.

Right now I have to work around this by using e.g. [intercept-stdout](https://www.npmjs.com/package/intercept-stdout).

[2018-04-27 07:29] a-lehdet opened #105 "Selective entry export by content type"
It would be great if the user could configure which entries by content type or exported. For example, let's say I had content types called _article_, _category_ and _person_ and I only wanted to export _category_ and _person_ entries with a parameter like `--include-content-types ["category", "person"]`.

[2018-04-27 08:11] Khaledgarbaya commented on #104
Hey @DanweDE ,
I added that to my list

[2018-04-27 08:12] Khaledgarbaya commented on #105
hey @a-lehdet,
did you check the `--query-entries` option?

[2018-04-27 09:39] Khaledgarbaya commented on #105
No worries

[2018-04-27 09:39] #105 closed

[2018-04-27 10:12] a-lehdet commented on #93
I too am having the same problem. I'm attempting to export only the entries of the content type _label_. I'm using version 4.7.8. My NPM version is 5.7.1. on Mac OS X 10.10.5.

`contentful-export --space-id <SPACE-ID> --management-token <TOKEN> --query-entries 'content_type=label'`

[2018-04-29 13:44] axe312ger commented on #93
@a-lehdet Your call is correct but that feature was introduced in version 6. Upgrade the tool get this running.

[2018-04-29 13:44] #93 closed

[2018-04-30 07:44] a-lehdet commented on #93
For some reason when I updated contentful-export it only upgraded 4.1.1 --> 4.7.8, but when I reinstalled it, everything works as expected. Thanks!

[2018-05-01 19:03] DanweDE opened #106 "`management-host` renamed to `host` in 7.0.0"
I was wondering why my code wouldn't work with spaces I've been using with this tool before.

Turns out the `--management-host` parameter got renamed to `--host` in 7.0.0. Same goes for the `managementHost` parameter in the options object when used as a npm package.

I'd suggest to re-introduce `--management-host` (cli) and `managementHost` (node) and keep `host` as an alias in both cases.

[2018-05-02 08:43] Khaledgarbaya commented on #106
Sorry @DanweDE about the confusion it was changed in the code we forgot to update the README.
the reason we moved to just `host` is that we only use management in the tool so host would be simpler

[2018-05-02 08:45] Khaledgarbaya commented on #106
The README will be fixed in https://github.com/contentful/contentful-export/pull/107

[2018-05-03 08:05] axe312ger commented on #106
@DanweDE done :)

[2018-05-03 08:05] #106 closed

[2018-05-24 22:34] geoffhardy1 opened #109 "Allow exporting of specific content models"
Currently when the content models are exported, they _all_ get exported. It would be useful to be able to export just a subset of the content models.

[2018-05-30 11:12] axe312ger commented on #109
We have this in our backlog, already. Can't give any time estimate but it will come. See here: https://github.com/contentful/contentful-import/issues/30#issuecomment-356321351

[2018-05-30 11:12] #109 closed

[2018-05-30 13:26] thibmaek opened #110 "Error on scripted export: _cliTable2.default is not a constructor"
We're seeing a failure in contentful-export when trying to export using version: `"contentful-export": "^6.0.4"`

It seems the exported JSON is fine, but the clitable2 dependency (used for formatting I guess) is failing:

[code]

The script contains this code:

[code]

[2018-05-30 13:33] Khaledgarbaya commented on #110
Hey Does this happen with v7.0.0 ?

[2018-06-06 22:20] thibmaek commented on #110
Doesn't seem to happen anymore for some reason. Did not upgrade dependency.

[2018-06-06 22:20] #110 closed

[2018-06-12 08:27] DanielRuf opened #112 "failing unit tests"
https://github.com/contentful/contentful-export/commit/052e8a17cdf3c92dfa11960b356fd00ecd962819

[2018-06-12 08:57] axe312ger commented on #112
Fixing it in #113

[2018-07-27 04:19] vogloblinsky opened #116 "[QUESTION] Assets edited exported with edition history"
I am exporting data from a space.
In this space, i have edited pictures : clearing the previous file and replacing it with another one.
When the data are exported, i have all the history of the files, the first one and the second one.
Is it normal ?

[2018-07-27 07:40] Khaledgarbaya commented on #116
Hi @vogloblinsky that does not seem normal,
can you share the part of the json payload where you have both versions

Best,
Khaled

[2018-07-27 09:44] vogloblinsky commented on #116
[code]

I got this in my exported folder

![image](https://user-images.githubusercontent.com/2841805/43314144-569c3a2e-9192-11e8-80fd-19065a9e177a.png)

The folder d73df37387c703616fa583fd4100d531 is from the first edited version

[2018-07-27 10:50] axe312ger commented on #116
Did you run the export in the same directory earlier? New exports do not delete existing asset files from previous exports.

[2018-07-27 10:53] Khaledgarbaya commented on #116
Hey @vogloblinsky,
As @axe312ger mentioned the tool does not clear the asset folder so that's why you found both files one from the previous export and one from the new one.
Make sure to delete the assets before exporting
Best,
Khaled

[2018-07-27 10:53] #116 closed

[2018-07-27 12:15] vogloblinsky commented on #116
Yes sorry, you are right, that's my fault. I run the export tool in one folder, and after copy all the assets in another folder. Cleaning the first one before running the script does the right job.

[2018-08-03 23:58] gaapt opened #117 "Attribute "query-entries" doesn't filter assets"
When you run the tool with a command using `--query-entries` that does not limit the retrieval of assets and, by effect, there is not a direct and clean to omit them from the response.

More information available [in here](https://www.contentfulcommunity.com/t/copy-content-entry-to-another-space/1166/3).

[2018-08-06 06:49] Khaledgarbaya commented on #117
Hey @gaapt,
That's the normal behavior, for now, that's why we have `--query-assets`.
I am not sure if we'll add this anytime soon to the tool but we'll keep this in mind

[2018-08-06 06:49] #117 closed

[2018-09-10 09:10] #112 closed

[2018-10-10 13:11] AAGJKPRT opened #120 "Need to port selected content types with all it's entries"
I have been trying to export one single content_type out of 100s of content types in one particular space.
I want to port from one environment to another (like Dev to QA)  within same space.
For the same, I am using the below-mentioned node query to get the export. However, every time getting the all data in this, need to understand the way to export selected content type

`const contentfulExport

[2018-10-10 14:06] Khaledgarbaya commented on #120
Hey @AAGJKPRT the query is only applied to the entries, that's why it is called queryEntries, you will still get all the content types exported.

[2018-10-11 03:51] AAGJKPRT commented on #120
Any way to get specific type like the selected content type?

[2018-10-16 04:09] AAGJKPRT commented on #120
@Khaledgarbaya
Any update on this?

[2018-11-14 14:33] ghost opened #121 "How to export deletions?"
Hey there! I am trying to sync two environments by exporting and importing in the same space.
However, since the deletion of entries will not get exported, how would I keep the two environments 100% in sync?

[2019-01-25 14:56] shahabshafiee opened #122 "@contentful/axios@^0.18.0"
npm i contentful-cli

shows this error:

npm ERR! code E404
npm ERR! 404 Not Found: @contentful/axios@^0.18.0

[2019-03-21 17:44] cachrisman opened #123 "`--include-drafts` also includes archived entries / no way to include archived entries only"
If you just do `contentful space export --space-id space-id` you don't get draft *or* archived entries in the result. You have to include `--include-drafts` to get both draft entries as well as archived entries. There is no way to include *only* draft or *only* archived entries in the result. Can the `--include-drafts` option exclude archived entries and can a `--include-archived` option be added

[2019-03-28 10:11] #123 closed

[2019-03-28 11:39] Khaledgarbaya commented on #123
:tada: This issue has been resolved in version 7.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/contentful-export)
- [GitHub release](https://github.com/contentful/contentful-export/releases/tag/v7.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-23 01:19] tdwright opened #125 "How to export only content and linked assets"
Hi,

I'm trying to export some content and its related assets.

Running this...

`contentful space export --space-id i4j5pw0xhtbv --environment-id master --query-entries 'content_type=insight&fields.key[match]=NEWUSER' --content-only`

...gives me the expected count of entries, but also every single one of my assets.

I see that there's an `include` option, but seemingly only for the delivery API?

[2019-05-13 06:51] rtm619 opened #126 "[question] Exporting more than one entry or asset using queryEntries or queryAssets."
Hi,

Is it possible to get multiple entries by using their ids in queryEntries?

If so, then can you show me a demonstration?

This is what I have been trying:

[code]

[2019-05-13 06:58] Khaledgarbaya commented on #126
Hey @rtm619 ,

Have you tried this?
[code]

[2019-05-13 07:37] rtm619 commented on #126
@Khaledgarbaya Tried this, doesn't work. Returns 0 entries.

[2019-05-13 10:15] Khaledgarbaya commented on #126
Maybe `"sys.id[in]=1v2RG4R9QxGVlaGl1Oi9WM,1KhOMPkquS5ynVH4CRi1T9"`

[2019-05-14 09:15] rtm619 commented on #126
@Khaledgarbaya Yes, this works. Thank you.

[2019-05-14 09:15] #126 closed

[2019-06-06 21:31] anishtimila commented on #117
@Khaledgarbaya I tried to filter only the content without the assets but it downloads all the assets as well. Is there any update on exporting only the related assets for the contents? Or just to filter out contents only?

[code]

[2019-06-06 22:10] anishtimila commented on #125
I have the same issue. Following on this issue.

[2019-08-30 17:24] miqbal-verys commented on #125
I'm running into the same issue. Even after specifying ```--download-assets false``` i get all assets in my space.

[2019-09-02 09:26] Khaledgarbaya commented on #125
This is currently not possible because `--query-entries` will only affect the entries export and not entity linked to it.

It can be achievable by using `link_to_enty` filter parameter when getting all assets

[2019-10-21 09:00] galvogalvo opened #130 "Yarn Audit reports dependency issue"
When we run `yarn audit` we are seeing an issue with `https-proxy-agent` which needs to be upgraded to `3.0.0` or greater. This is causing our CI pipelines to fail.
https://www.npmjs.com/advisories/1184

[2019-10-21 12:38] jroehl commented on #130
Resolved with #131

[2019-10-21 12:38] #130 closed

[2019-10-21 13:12] jroehl commented on #130
The `dev-dependencies` (`semantic-release` and `codecov`) might still show the audit warning, relying themselves on an earlier version of `https-proxy-agent`. As they are only `dev-dependencies` this is no risk for production builds.

As soon as the dependency owners updated their packages, we will update our package again.

[2019-11-08 08:51] jesusgollonet opened #132 ""Cannot find any-observable implementation nor global.Observable." in AWS Lambda"
Hi, I'm trying to run contenful-export on a lambda function running the node 10 runtime but I get the error

It seems to come from `listr` and `any-observable` as per e.g: https://github.com/SamVerschueren/listr/issues/91 but I've tried every suggestion in issues to no avail (installing `any-observable`, `zen-observable`, `rxjs`, `rxjs-compat` myself). I'm still trying to figure out what's wrong b

[2019-11-08 09:26] jesusgollonet commented on #132
Nevermind. the issue comes from `serverless-plugin-optimize`'s handling of peerDependencies. If I turn optimization off the plugin works without a problem. Closing the issue. Cheers!

[2019-11-08 09:26] #132 closed

[2020-01-23 00:29] verys-jhuang opened #135 "Adding editor interface data query or separate skip?"
Currently it looks like the only way to skip editor interface is through the config option `skipContentModel`.  I'm currently working on a tool that needs the content types data but not the interface data.  Would it be possible to add a skip separate from `skipContentModel` to editor interface?

Editor interface currently always grabs all editor interface data from every model.  Would it be possib

[2020-02-27 15:36] phoebeschmidt commented on #135
Hi @verys-jhuang there is no way to filter on editor interfaces unfortunately, but I've just opened a PR that allows you to skip exporting them :)

[2020-02-28 09:29] #135 closed

[2020-02-28 09:31] Khaledgarbaya commented on #135
:tada: This issue has been resolved in version 7.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/contentful-export)
- [GitHub release](https://github.com/contentful/contentful-export/releases/tag/v7.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-29 14:42] govertb opened #138 "Validating export options"
I recently used the `contentful-export` library to archive and migrate a couple of Contentful Spaces and Environments, which worked great! It surprised me though that the options passed to `contentfulExport()` are not validated. If I pass e.g. `{ ... includeArchive: true }` instead of `{ ... includeArchived: true }` there is no warning that I passed an invalid option, and the export continues with

[2020-03-12 17:58] dpatra1 opened #139 "Pull Entries For A Given ContentType"
Hi,

I have a requirement to pull entries for a given contentType and generate a report based on the status like DRAFT or PUBLISHED.

I have tried _CMA, CDA & CPA_, and I see that every API  has its own drawbacks and also I can not make any combination of API calls to full fill my requirement.

I am using Java API to write the service.
**CMA** : I see there is no way I can pull entries for a given

[2020-03-13 11:19] phoebeschmidt commented on #139
Hi @dpatra1,

You are mistaken about the CMA-- you can pull entries for a given content type using a query like this:

[code]

or using the cli:

[code]

I definitely empathize-- it's tricky to determine the published state of an entry (especially if it has been published before). Here's some info about how to tell: https://www.contentful.com/developers/docs/tutorials/general/determine-entry-asset

[2020-03-13 17:22] dpatra1 commented on #139
Hi Phoebe,

First of all thanks for the reply !

Regarding CMA pulling entries based on contentType, due you have option using JAVA SDK to setContentType ? Because I can see that is provided in CDA/CPA where you can set the contentType but I don't see that in CMA.

`        return cdaClient.fetch(CDAEntry.class)
                .withContentType(contentType)
                .limit(0)

[2020-03-16 17:18] rafalniski commented on #139
@dpatra1

Pulling entries by type is not supported yet in the CMA Java SDK. Can I see your while snippet for calling `bulk API` and then `entryById API`?

[2020-03-16 17:55] dpatra1 commented on #139
@rafalniski

Currently I am using CPA, not coded using CMA yet. I was just evaluating what are the options to find out STATUS of entries if I will use CMA.

I was trying CMA bulk API by contentType, looks like its returning _publishedVersion, publishedAt, firstPublishedAt & publishedCounter_ . Let use the change my code and re-write to make normal HTTP calls instead of using CMA Java SDK.

Thank Y

[2020-03-19 22:43] dpatra1 opened #169 "Content Model Validation Does Not Work !!!"
Hi,

I have a content Model where I have the validation for a particular field called "taxonomy_id" which should be unique. I was in the impression that, If anyone trying to create the entry with taxonomy_id already exist, should throw an error. But thats what it is not happening, I can happily click on any existing entry, and create a duplicate of that existing entry with the same taxonomy_Id.

A

[2020-03-20 10:13] matthew-contentful commented on #169
Hello Deba,

Please reach out to support for assistance: https://www.contentful.com/support/

Also be mindful that validations only apply during the publish operation.

Thanks, Matthew

[2020-03-20 10:13] #169 closed

[2020-03-20 16:55] rafalniski commented on #139
@dpatra1 Just answering your question about how to pass `contentType` to the CMA SDK, here is the example(src/test/kotlin/com/contentful/java/cma/EntryTests.kt):

`val query = hashMapOf(Pair("skip", "1"), Pair("limit", "2"), Pair("content_type", "foo"))`
`assertTestCallback(client!!.entries().async().fetchAll(
                "spaceid", "environmentId", query, TestCallback()) as TestCallback)`

[2020-03-27 00:50] xingjungoh opened #177 "A security vulnerability in minimist package (sub-dependency)"
I get a vulnerability issues regarding Package minimist with version less than 1.2.3.

Root cause is an outdated version of mkdirp that requires an older version of minimist.

Pending the next release to include the fix.

[2020-03-27 02:04] taihoe commented on #177
It seems there is a new version of mkdirp which doesn't have minimist.
https://github.com/isaacs/node-mkdirp

[2020-04-02 13:18] phoebeschmidt commented on #177
we've finally gotten around to updating our dependabot configs so dependencies should stay up to date now going forward. Please open another issue if you have more problems.

[2020-04-02 13:18] #177 closed

[2020-04-02 13:20] phoebeschmidt commented on #122
@shahabshafiee our most up to date version of the CLI doesn't rely on @contentful/axios anymore, we just use axios v0.19.

I'm closing because this is out of date. Please open another issue if you have trouble in the future.

[2020-04-02 13:20] #122 closed

[2020-04-02 13:22] phoebeschmidt commented on #139
This seems to have been cleared up, so I'm closing this issue. Please continue any conversation about the java SDK on the correct repository: https://github.com/contentful/contentful-management.java

[2020-04-02 13:22] #139 closed

[2020-04-02 13:23] phoebeschmidt commented on #121
Closing because the user account is deleted.

[2020-04-02 13:23] #121 closed

[2020-04-02 13:26] phoebeschmidt commented on #120
Hi @AAGJKPRT ,

Unfortunately we don't have a "queryContentTypes" flag in the contentful-export tool, so you will always get all content types returned.

Our apologies, we don't have any plans at this moment to implement this feature.

[2020-04-02 13:26] #120 closed

[2020-04-02 13:32] phoebeschmidt commented on #138
Hey @govertb,

We unfortunately don't have as much capacity to maintain our open source tools as we used to :( We are currently in discussion about typescript-ifying all projects, which would solve the issue you bring up.

Besides typescript we have no plans to implement better validation, unfortunately. However, PRs are always welcome!

I'm closing this but feel free to open another one in the fu

[2020-04-02 13:32] #138 closed

[2020-04-02 13:33] phoebeschmidt commented on #125
Closing due to inactivity.

[2020-04-02 13:33] #125 closed

[2020-04-02 13:33] #104 closed

[2020-04-03 08:11] orta-sanz opened #194 "[Solved] errors with mkdirp@^1.0.3"
Hi family! :rocket:

Today I'm facing some strange errors when exporting content/models from a new project:
[code]

As you can see `mkdirp` is in the spotlight, so I started to compare the version that I use in another project and in this. The project with the error uses `mkdirp@^1.0.3` and the other one (which it's working fine): `mkdirp@^0.5.1`

I updated the version:
![image](https://user-image

[2020-04-03 08:59] phoebeschmidt commented on #194
Hey @orta-sanz,

Thanks for bringing this to our attention! As you can see we recently added dependabot and are in the process of updating all dependencies.

I'm frustrated our tests didn't catch this regression, but very grateful you already figured out the problem!

If you're inclined, I'd love a little investigation for why the newest mkdirp causes the error. If it's an easy code fix, I'd be pu

[2020-04-03 10:03] makinwab commented on #194
[Here's](https://github.com/contentful/contentful-cli/issues/304) a related issue reported in the CLI repo.

[2020-04-03 11:53] #194 closed

[2020-04-20 11:05] roylines opened #214 "Feature Request: Allow passing of a stream"
Hi. Thanks for creating such an awesome utility for backing up contentful.

I have a feature request: is it possible to have an option for passing in a stream rather than a directory? This would allow, for example, backing up directly into S3 or other writeable areas.

Happy to contribute if you take pull requests.

[2020-04-21 09:00] phoebeschmidt commented on #214
Hi @roylines, we don't currently support streams but we do accept PRs :)

[2020-05-02 15:11] govertb commented on #138
Cool, thanks for getting back to me.

+1 for TypeScript support 👍

[2020-05-05 14:44] C275543 commented on #120
I have another issue
let queryEntrie= [
    'content_type='+config.rootTranslationNodes,
    'sys.id='+entries
  ]
  const exportOptions = { ...config.exportOptions, contentFile,queryEntrie }
but export function export all those entries present in space, QueryEntries not workingas expected

[2020-05-05 14:51] C275543 opened #234 "QueryEntries is not working as expected"
entries =['x','x'....]
rootTranslationNodes=['x','x'..]
const spaceExport = require('contentful-export')
let queryEntries= [
    'content_type='+config.rootTranslationNodes,
    'sys.id='+entries
  ]
  const exportOptions = { ...config.exportOptions, contentFile,queryEntries }

but contentful export fetching all entries from space.these Query Entries not working.
Version I am using  "contentful-ex

[2020-05-06 12:49] #234 closed

[2020-05-06 12:50] C275543 commented on #234
it resolved with Content-only parameter in export options with help of https://github.com/contentful/contentful-cli/issues/171

[2020-06-08 06:36] pratiksawant10 opened #249 "Error in using contentful-export in Node handler"
Usage:
const contentfulExport = require('contentful-export')

Error:
ERROR in ./node_modules/contentful-export/dist/parseOptions.js
Module not found: Error: Can't resolve '../package' in '/Users/sawantp/applicant-portal/applicant-portal-api/node_modules/contentful-export/dist'
 @ ./node_modules/contentful-export/dist/parseOptions.js 19:15-36
 @ ./node_modules/contentful-export/dist/index.js
 @ ./s

[2020-10-28 15:11] nicolaaretini opened #374 "Any way to skip Fetching assets at all?"
I've noticed that calling the tool with following options

`
{
 spaceId,
 environmentId,
 managementToken,
 queryEntries: [
    `content_type=myContentTypeId`,
 ],
 contentOnly: true,
 contentFile: filePath,
 downloadAssets: false,
 yes: true
}
`

even though "myContentTypeId"  has no assets references and I've set
downloadAssets: false,

I see while running a step (not skipped) of

 ✔ Fetching as

[2020-10-28 15:22] nicolaaretini commented on #374
Found this hack

 queryAssets: [
            'sys.id=xxx'
        ],

so no waste in looking for fetching assets.

Anyhow a

`skipAssets:true`

parameter would solve this issue IMHO

[2020-10-30 16:52] isaachinman opened #376 "TypeScript Support"
Hi there, it seems like this package is actively maintained, but I was surprised to find that not only are there no types exported from contentful-import, there also aren't any at @types/contentful-import.

Does Contentful intend to support TS users?

[2021-03-19 19:10] edumasUI commented on #120
@C275543 I have having the same issue!  I setting my queryEntries to content_type=**** but I am getting all content types and not just the one I am requesting...

[2021-03-22 07:23] yadabnepal opened #545 "Polyfill error while importing contentful-export"
Hi there,

`TypeError: any-observable browser requires a polyfill or explicit registration e.g: require('any-observable/register')('rxjs', {Observable: require('rxjs/Observable').Observable})`

Above error is being thrown while trying to import contentful-export api in create-react-app. I have tried to import it in different version for create-react-app (react-script). Unfortunately none of them a

[2021-03-24 23:36] yadabnepal commented on #545
Contentful-export and contentful-import turns out to be supported only in the backend as it is using file system to create and store files. Closing this issue but it is good if we have client version of it which just gets the data in the form of JSON.

[2021-03-24 23:36] #545 closed

[2021-06-11 20:11] Vykuntarao-n opened #644 "Export all assets of type image and size greater than 600kb"
Could you help you me in downloading all the assets of type only images and the size is greater than 600kb ?
I have tried this not working !!
contentOnly : true,

  queryEntries: [

    //Skip all entries

    'sys.id=1'

    //'content_type=<content_type_id>',

    //'sys.id=<entry_id>'

  ],

  queryAssets : [

    'fields.file.contentType=image/jpeg',

    ‘fields.file.contentType=image/png',

[2021-06-24 10:53] nicolaaretini opened #658 "Error: Status: 400 - Bad Request - Message: The value provided for "skip" is invalid. Please provide a valid number value"
I'm getting this error when trying to use contentful-export. With the option maxAllowedLimit

[code]

Anyone experiencing the same behaviour? Any idea?

[2021-08-16 11:57] diegoaguilar commented on #125
@Khaledgarbaya do you have any example of a migration that uses `links_to_entry` that would download any level of `include`?

Should I just pass a root parent entry and child entries at any level will get exported?

[2021-08-20 06:05] hz081 opened #682 "Include didn't work in queryEntries"
I was trying to put: `["sys.id[in]=xxx","include=4"]` as an `queryEntries` options. But didn't work, the result didn't include all linked items.

This behavior is very different with the contentful-api. Any suggestion how to link all related items to that entries?

Thanks

[2021-08-24 19:17] Sammii opened #683 "Request: Replace vulnerable dependency "echo-cli""
There is a "high severity" security vulnerability in the `trim-newlines@^1.0.0` package that is included as a transitive dependency of `echo-cli`. See: https://github.com/advisories/GHSA-7p7h-4mm5-852v

Hoisted from `contentful-export#echo-cli#meow#trim-newlines`

Since the `echo-cli` package has not been updated in 5 years, it seems to no longer be maintained.

Is it possible to replace this pack

[2021-09-28 07:56] marcolink commented on #683
Hi @Sammii,
thanks for reporting this 🙇

we just released a new version without `echo-cli` dependency https://github.com/contentful/contentful-export/releases/tag/v7.13.18

[2021-09-28 07:56] #683 closed

[2021-09-28 17:28] Sammii commented on #683
Thanks so much @marcolink !

I realized the same dependency is found in `contentful-import` so I logged a duplicate issue there. 😞  https://github.com/contentful/contentful-import/issues/545

[2022-04-27 05:30] marcolink commented on #249
Hi @pratiksawant10 👋

As this issue has been unanswered for a while, I'm closing it now.
If you're still experiencing this issue with the latest build, feel free to open the issue again.

[2022-04-27 05:30] #249 closed

[2022-04-27 05:58] pratiksawant10 commented on #249
Thanks Marco

[2022-04-27 11:54] marcolink commented on #682
@hz081
Did you try without the `include`? for exporting entries, you don't need to specify it.

[2022-04-27 12:03] marcolink commented on #644
Hi @Vykuntarao-n

based on the asset entity shape defined [here](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/assets), you could try  [`'fields.file.details.size[gt]=600000'`]

[2022-04-27 13:19] marcolink commented on #376
@isaachinman we just merged the PR 🎉

[2022-04-27 13:19] #376 closed

[2022-04-27 13:20] marcolink commented on #214
Since there hasn't been any activity, I will close this for now.

[2022-04-27 13:20] #214 closed

[2022-05-03 00:50] mauritz-lovgren opened #961 "Extra semicolon in types.d.ts causes build error"
Error during typescript build:

`node_modules/contentful-export/types.d.ts:31:2 - error TS1036: Statements are not allowed in ambient contexts.`

Caused by semicolon at end of `export interface Options { ... };`

[2022-05-03 10:00] marcolink commented on #961
Hi @mauritz-lovgren 👋

just released a fix for it!

[2022-05-03 10:00] #961 closed

[2022-05-03 10:39] mauritz-lovgren commented on #961
Fantastic! 🥇 !!

[2022-05-05 08:53] phawxby opened #966 "Typo in export types"
https://github.com/contentful/contentful-export/blob/6b3fd88014c0b55f21933b3ecfa602c8e2913993/types.d.ts#L27

Doesn't match actual options.
https://github.com/contentful/contentful-export/blob/b0812273bd579408405716acd8f29b801ff85d23/lib/index.js#L78

[2022-05-09 06:57] #966 closed

[2022-06-06 05:48] rvrita opened #1014 "Query by content types?"
Previously, @phoebeschmidt  said:

Any updates on this? It would be useful to filter by content types; we have about 95 content types and it would be useful to limit the scope, especially during testing.

[2022-06-24 23:39] idahogurl commented on #1014
@rvrita I just looped through an array of the content types calling the export each time. Kinda like this:

[code]

[2022-06-30 13:46] mishragaurav1 opened #1042 "Error 404 - while trying to use contentful export via cli"
Facing 404 issue with below error while trying to use contentful export -:

contentful space export --space-id xxxxxxxxxx --environment-id "development" --management-token xxxxxxxxxxxxxx --export-dir Downloads\ContentfulExport --include-drafts false --skip-role true --skip-webhooks true --error-log-file Downloads\ContentfulExport\error-log-file.txt --save-file true

  √ Initialize client (1s)

[2022-08-12 15:56] UXnomaan commented on #682
@marcolink - I'm in the same situation. The entry I'm trying to export has nested structure. As @hz081 mentioned, adding `include: x` to your API request will get you the structure you need. How would you go about exporting an entry which has nested entries?

[2022-08-12 17:28] UXnomaan commented on #125
@Khaledgarbaya is it possible to use `links_to_entry` with the cli to export a content with linked entries?

[2022-08-12 18:58] UXnomaan opened #1085 "Export content with linked entries"
I am trying to create a migration script for moving my content from a `sandbox` environment to our `master` environment.

If I do it with `queryEntries` and include each linked entry id, I can use the import tool and can see the content being imported for the included ids so for example:

[code]
However, that's not easy to do for a page content type where there are multi level linked entries. is t

[2022-10-04 13:50] Oatelaus commented on #132
For others coming across this issue, the above is not a fix - turning off bundling causes poor performance in your lambdas and needlessly inflates code sizes.

The proper fix would be a good dependency chain within this project.

[2022-10-13 15:58] hartmagj opened #1146 "Export hitting rate limit with very few entries exported"
My team and I are trying to migrate the content from one contentful space to another.  Running our migration script on a subset of the content works just fine, but when we run our script on a larger set of contentful entries, we receive rate limit errors that look like this (though not necessarily in this order):
`Oh no! Some errors occurred! Error [ContentfulMultiError]: Errors occured`
`11:20:68

[2022-10-27 14:30] joaofmartinho commented on #1085
+1

[2022-10-27 14:42] joaofmartinho commented on #682
+1

[2022-11-08 05:01] bchiong commented on #1085
+1